/.BrowserCapabilitiesManager.java._trace
/.BrowserCapabilitiesManager.xtendbin
/.ConfigKeys.java._trace
/.ConfigKeys.xtendbin
/.DeviceCapabilitiesManager.java._trace
/.DeviceCapabilitiesManager.xtendbin
/.PlatformPathSetup.java._trace
/.PlatformPathSetup.xtendbin
/BrowserCapabilitiesManager.java
/ConfigKeys.java
/DeviceCapabilitiesManager.java
/PlatformPathSetup.java
