/.ImageActions.java._trace
/.ImageActions.xtendbin
/.ImageElement.java._trace
/.ImageElement.xtendbin
/.ImageTextRecognizer.java._trace
/.ImageTextRecognizer.xtendbin
/ImageActions.java
/ImageElement.java
/ImageTextRecognizer.java
